* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a *, a:link {
    text-decoration: none;
    color: black;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2vh 1vw;
}

#img {
    max-width: 50%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    #pokedex {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 800px) {
    #pokedex {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 550px) {
    #pokedex {
        grid-template-columns: repeat(1,1fr);
    }
}